body{
  background-color: #1e1e1f;
}

h1{
  color: #FFFFFF;
  font-family: 'Press Start 2P', sans-serif;
}

h2{
  color: #FFFFFF;
  font-family: 'Instrument Sans', sans-serif;
}

a{
  color: #89CFF0;
  font-family: 'Instrument Sans', sans-serif;
}
